footer.footer
  .container
    .row
      // footer list
      //- .col-12.col-md-3
        //- h6.footer__title Download Our App
        //- ul.footer__app
        //-   li
        //-     a(href='#')
        //-       img(src='/img/Download_on_the_App_Store_Badge.svg' alt='')
        //-   li
        //-     a(href='#')
        //-       img(src='/img/google-play-badge.png' alt='')
      // end footer list
      // footer list
      //- .col-6.col-sm-4.col-md-3
      //-   h6.footer__title Resources
      //-   ul.footer__list
      //-     li
      //-       a(href='#') About Us
      //-     li
      //-       a(href='#') Pricing Plan
      //-     li
      //-       a(href='#') Help
      //- // end footer list
      //- // footer list
      //- .col-6.col-sm-4.col-md-3
      //-   h6.footer__title Legal
      //-   ul.footer__list
      //-     li
      //-       a(href='#') Terms of Use
      //-     li
      //-       a(href='#') Privacy Policy
      //-     li
      //-       a(href='#') Security
      //- // end footer list
      //- // footer list
      //- .col-12.col-sm-4.col-md-3
      //-   h6.footer__title Contact
      //-   ul.footer__list
      //-     li
      //-       a(href='tel:+18002345678') +1 (800) 234-5678
      //-     li
      //-       a(href='mailto:support@moviego.com') support@flixgo.com
      //-   ul.footer__social
      //-     li.facebook
      //-       a(href='#')
      //-         i.icon.ion-logo-facebook
      //-     li.instagram
      //-       a(href='#')
      //-         i.icon.ion-logo-instagram
      //-     li.twitter
      //-       a(href='#')
      //-         i.icon.ion-logo-twitter
      //-     li.vk
      //-       a(href='#')
      //-         i.icon.ion-logo-vk
      // end footer list
      // footer copyright
      .col-12
        .footer__copyright
          small
            a(target='_self' href='/') Templates Hub
          ul
            li
              a(href='#') Terms of Use
            li
              a(href='#') Privacy Policy
      // end footer copyright
// end footer