header.header
  .header__wrap
    .container
      .row
        .col-12
          .header__content
            // header logo
            a.header__logo(href=`/`)
              img(src='/img/logo.png' alt='')
            // end header logo
            // header nav
            ul.header__nav
              // dropdown
              li.header__nav-item
                a.header__nav-link(href='/') Home
              // end dropdown
              // dropdown
              li.header__nav-item
                a.header__nav-link(href='/catalogue') Catalogue
              li.header__nav-item
                a.header__nav-link(href='/buy-subscription') Subscriptions
              - if (user)
                  li.header__nav-item
                    a.header__nav-link(href='#watchlistSection') WatchList
            // end header nav
            // header auth
            .header__auth
              if (user)
                a(href='/me')
                  img.nav__user-img(src=`/img/users/${user.profilePicture}` alt='photo of user')
                  span.nav__user-name #{user.name.split(' ')[0]}
                a.header__sign-in(href='/logout' id='logoutBtn')
                  i.icon.ion-ios-log-in
                  span Logout
              else 
                a.header__sign-in(href='/signin')
                  i.icon.ion-ios-log-in
                  span sign in
            // end header auth
            // header menu btn
            button.header__btn(type='button')
              span
              span
              span
            // end header menu btn
// end header
