doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Font
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700' rel='stylesheet')
  // CSS
  link(rel='stylesheet' href='/css/bootstrap-reboot.min.css')
  link(rel='stylesheet' href='/css/bootstrap-grid.min.css')
  link(rel='stylesheet' href='/css/owl.carousel.min.css')
  link(rel='stylesheet' href='/css/jquery.mCustomScrollbar.min.css')
  link(rel='stylesheet' href='/css/nouislider.min.css')
  link(rel='stylesheet' href='/css/ionicons.min.css')
  link(rel='stylesheet' href='/css/plyr.css')
  link(rel='stylesheet' href='/css/photoswipe.css')
  link(rel='stylesheet' href='/css/default-skin.css')
  link(rel='stylesheet' href='/css/main.css')
  // Favicons
  link(rel='icon' type='image/png' href='/icon/favicon-32x32.png' sizes='32x32')
  link(rel='apple-touch-icon' href='/icon/favicon-32x32.png')
  link(rel='apple-touch-icon' sizes='72x72' href='/icon/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='114x114' href='/icon/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='144x144' href='/icon/apple-touch-icon-144x144.png')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='Dmitry Volkov')
  title MetaMovies &ndash; Online Movies, TV Shows &amp;
.sign.section--bg(data-bg='/img/section/section.jpg')
  .container
    .row
      .col-12
        .sign__content
          // authorization form
          form.sign__form(action='#' id='loginForm')
            a.sign__logo(href='/')
              img(src='img/logo.png' alt='')
            .sign__group
              input.sign__input(type='text' placeholder='Email' id='email')
            .sign__group
              input.sign__input(type='password' placeholder='Password' id='password')
            button.sign__btn(type='button') Sign in
            span.sign__text
              | Don&apos;t have an account? 
              a(href='/signup') Sign up!
            span.sign__text
              a(href='/forgotPassword') Forgot password?
          // end authorization form
// JS
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(src='https://js.stripe.com/v3/')
script(src='/js/jquery-3.3.1.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.mousewheel.min.js')
script(src='/js/jquery.mCustomScrollbar.min.js')
script(src='/js/wNumb.js')
script(src='/js/nouislider.min.js')
script(src='/js/plyr.min.js')
script(src='/js/jquery.morelines.min.js')
script(src='/js/photoswipe.min.js')
script(src='/js/photoswipe-ui-default.min.js')
script(src='/js/main.js')
script(src='/js/login.js')

