extends base
block content
  // page title
  section.section.section--first.section--bg(data-bg='img/section/section.jpg')
    .container
      .row
        .col-12
          .section__wrap
            // section title
            h2.section__title Subscriptions
            // end section title
            // breadcrumb
            ul.breadcrumb
              li.breadcrumb__item
                a(href='/') Home
              li.breadcrumb__item.breadcrumb__item--active Subscriptions
            // end breadcrumb
  // end page title
  // pricing
  .section
    .container
      .row
        // price
        .col-12.col-md-6.col-lg-4
          .price
            .price__item.price__item--first
              span Basic
              span Free
            .price__item
              span 7 Days Access
            .price__item
              span Full HD
            .price__item
              span 1 Screen
            .price__item
              span Any Device
            .price__item
              span Limited Support
            a.price__btn(href='#') Choose Plan
        // end price
        // price
        .col-12.col-md-6.col-lg-4
          .price.price--premium
            .price__item.price__item--first
              span Premium
              span ₹599
            .price__item
              span 6 Month Access
            .price__item
              span Full HD
            .price__item
              span 2 Screen
            .price__item
              span Any Device
            .price__item
              span 24/7 Support
            a.price__btn(href='#' onclick='buyPremiumSubscription()') Choose Plan
        // end price
        // price
        .col-12.col-md-6.col-lg-4
          .price
            .price__item.price__item--first
              span Cinematic
              span ₹999
            .price__item
              span 1 Year Access
            .price__item
              span Full HD
            .price__item
              span 4 Screen
            .price__item
              span Any Device
            .price__item
              span 24/7 Support
            a.price__btn(href='#' onclick='buyPremiumSubscription()') Choose Plan
        // end price
  // end pricing
  // features
  section.section.section--dark
    .container
      .row
        // section title
        .col-12
          h2.section__title.section__title--no-margin Our Features
        // end section title
        // feature
        .col-12.col-md-6.col-lg-4
          .feature
            i.icon.ion-ios-tv.feature__icon
            h3.feature__title Ultra HD
            p.feature__text
              | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&apos;t anything embarrassing hidden in the middle of text.
        // end feature
        // feature
        .col-12.col-md-6.col-lg-4
          .feature
            i.icon.ion-ios-film.feature__icon
            h3.feature__title Film
            p.feature__text
              | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first.
        // end feature
        // feature
        .col-12.col-md-6.col-lg-4
          .feature
            i.icon.ion-ios-trophy.feature__icon
            h3.feature__title Awards
            p.feature__text
              | It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
        // end feature
        // feature
        .col-12.col-md-6.col-lg-4
          .feature
            i.icon.ion-ios-notifications.feature__icon
            h3.feature__title Notifications
            p.feature__text
              | Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
        // end feature
        // feature
        .col-12.col-md-6.col-lg-4
          .feature
            i.icon.ion-ios-rocket.feature__icon
            h3.feature__title Rocket
            p.feature__text
              | It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
        // end feature
        // feature
        .col-12.col-md-6.col-lg-4
          .feature
            i.icon.ion-ios-globe.feature__icon
            h3.feature__title Multi Language Subtitles 
            p.feature__text
              | Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
        // end feature
  // end features