doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Font
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700' rel='stylesheet')
  // CSS
  link(rel='stylesheet' href='css/bootstrap-reboot.min.css')
  link(rel='stylesheet' href='css/bootstrap-grid.min.css')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/jquery.mCustomScrollbar.min.css')
  link(rel='stylesheet' href='css/nouislider.min.css')
  link(rel='stylesheet' href='css/ionicons.min.css')
  link(rel='stylesheet' href='css/plyr.css')
  link(rel='stylesheet' href='css/photoswipe.css')
  link(rel='stylesheet' href='css/default-skin.css')
  link(rel='stylesheet' href='css/main.css')
  // Favicons
  link(rel='icon' type='image/png' href='icon/favicon-32x32.png' sizes='32x32')
  link(rel='apple-touch-icon' href='icon/favicon-32x32.png')
  link(rel='apple-touch-icon' sizes='72x72' href='icon/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='114x114' href='icon/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='144x144' href='icon/apple-touch-icon-144x144.png')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='Dmitry Volkov')
  title MetaMovies &ndash; Online Movies, TV Shows &amp;
// header
header.header
  .header__wrap
    .container
      .row
        .col-12
          .header__content
            // header logo
            a.header__logo(href='index.html')
              img(src='img/logo.svg' alt='')
            // end header logo
            // header nav
            ul.header__nav
              // dropdown
              li.header__nav-item
                a#dropdownMenuHome.dropdown-toggle.header__nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Home
                ul.dropdown-menu.header__dropdown-menu(aria-labelledby='dropdownMenuHome')
                  li
                    a(href='index.html') Home slideshow bg
                  li
                    a(href='index2.html') Home static bg
              // end dropdown
              // dropdown
              li.header__nav-item
                a#dropdownMenuCatalog.dropdown-toggle.header__nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Catalog
                ul.dropdown-menu.header__dropdown-menu(aria-labelledby='dropdownMenuCatalog')
                  li
                    a(href='catalog1.html') Catalog Grid
                  li
                    a(href='catalog2.html') Catalog List
                  li
                    a(href='details1.html') Details Movie
                  li
                    a(href='details2.html') Details TV Series
              // end dropdown
              li.header__nav-item
                a.header__nav-link(href='pricing.html') Pricing Plan
              li.header__nav-item
                a.header__nav-link(href='faq.html') Help
              // dropdown
              li.dropdown.header__nav-item
                a#dropdownMenuMore.dropdown-toggle.header__nav-link.header__nav-link--more(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  i.icon.ion-ios-more
                ul.dropdown-menu.header__dropdown-menu(aria-labelledby='dropdownMenuMore')
                  li
                    a(href='about.html') About
                  li
                    a(href='signin.html') Sign In
                  li
                    a(href='signup.html') Sign Up
                  li
                    a(href='404.html') 404 Page
              // end dropdown
            // end header nav
            // header auth
            .header__auth
              button.header__search-btn(type='button')
                i.icon.ion-ios-search
              a.header__sign-in(href='signin.html')
                i.icon.ion-ios-log-in
                span sign in
            // end header auth
            // header menu btn
            button.header__btn(type='button')
              span
              span
              span
            // end header menu btn
  // header search
  form.header__search(action='#')
    .container
      .row
        .col-12
          .header__search-content
            input(type='text' placeholder='Search for a movie, TV Series that you are looking for')
            button(type='button') search
  // end header search
// end header
// home
section.home
  // home bg
  .owl-carousel.home__bg
    .item.home__cover(data-bg='img/home/home__bg.jpg')
    .item.home__cover(data-bg='img/home/home__bg2.jpg')
    .item.home__cover(data-bg='img/home/home__bg3.jpg')
    .item.home__cover(data-bg='img/home/home__bg4.jpg')
  // end home bg
  .container
    .row
      .col-12
        h1.home__title
          b NEW ITEMS
          |  OF THIS SEASON
        button.home__nav.home__nav--prev(type='button')
          i.icon.ion-ios-arrow-round-back
        button.home__nav.home__nav--next(type='button')
          i.icon.ion-ios-arrow-round-forward
      .col-12
        .owl-carousel.home__carousel
          .item
            // card
            .card.card--big
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
            // end card
          .item
            // card
            .card.card--big
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
            // end card
          .item
            // card
            .card.card--big
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
            // end card
          .item
            // card
            .card.card--big
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
            // end card
// end home
// content
section.content
  .content__head
    .container
      .row
        .col-12
          // content title
          h2.content__title New items
          // end content title
          // content tabs nav
          ul#content__tabs.nav.nav-tabs.content__tabs(role='tablist')
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#tab-1' role='tab' aria-controls='tab-1' aria-selected='true') NEW RELEASES
            li.nav-item
              a.nav-link(data-toggle='tab' href='#tab-2' role='tab' aria-controls='tab-2' aria-selected='false') MOVIES
            li.nav-item
              a.nav-link(data-toggle='tab' href='#tab-3' role='tab' aria-controls='tab-3' aria-selected='false') TV SERIES
            li.nav-item
              a.nav-link(data-toggle='tab' href='#tab-4' role='tab' aria-controls='tab-4' aria-selected='false') CARTOONS
          // end content tabs nav
          // content mobile tabs nav
          #content__mobile-tabs.content__mobile-tabs
            #mobile-tabs.content__mobile-tabs-btn.dropdown-toggle(role='navigation' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              input(type='button' value='New items')
              span
            .content__mobile-tabs-menu.dropdown-menu(aria-labelledby='mobile-tabs')
              ul.nav.nav-tabs(role='tablist')
                li.nav-item
                  a#1-tab.nav-link.active(data-toggle='tab' href='#tab-1' role='tab' aria-controls='tab-1' aria-selected='true') NEW RELEASES
                li.nav-item
                  a#2-tab.nav-link(data-toggle='tab' href='#tab-2' role='tab' aria-controls='tab-2' aria-selected='false') MOVIES
                li.nav-item
                  a#3-tab.nav-link(data-toggle='tab' href='#tab-3' role='tab' aria-controls='tab-3' aria-selected='false') TV SERIES
                li.nav-item
                  a#4-tab.nav-link(data-toggle='tab' href='#tab-4' role='tab' aria-controls='tab-4' aria-selected='false') CARTOONS
          // end content mobile tabs nav
  .container
    // content tabs
    #myTabContent.tab-content
      #tab-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='1-tab')
        .row
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src='img/covers/cover.jpg' alt='')
                    a.card__play(href='#')
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href='#') I Dream in Another Language
                    span.card__category
                      a(href='#') Action
                      a(href='#') Triler
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | 8.4
                      ul.card__list
                        li HD
                        li 16+
                    .card__description
                      p
                        | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &apos;Content here, content here&apos;, making it look like readable English.
          // end card
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src='img/covers/cover2.jpg' alt='')
                    a.card__play(href='#')
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href='#') Benched
                    span.card__category
                      a(href='#') Comedy
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | 7.1
                      ul.card__list
                        li HD
                        li 16+
                    .card__description
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          // end card
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src='img/covers/cover3.jpg' alt='')
                    a.card__play(href='#')
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href='#') Whitney
                    span.card__category
                      a(href='#') Romance
                      a(href='#') Drama
                      a(href='#') Music
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | 6.3
                      ul.card__list
                        li HD
                        li 16+
                    .card__description
                      p
                        | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          // end card
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src='img/covers/cover4.jpg' alt='')
                    a.card__play(href='#')
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href='#') Blindspotting
                    span.card__category
                      a(href='#') Comedy
                      a(href='#') Drama
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | 7.9
                      ul.card__list
                        li HD
                        li 16+
                    .card__description
                      p
                        | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          // end card
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src='img/covers/cover5.jpg' alt='')
                    a.card__play(href='#')
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href='#') I Dream in Another Language
                    span.card__category
                      a(href='#') Action
                      a(href='#') Triler
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | 8.4
                      ul.card__list
                        li HD
                        li 16+
                    .card__description
                      p
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&apos;t anything embarrassing hidden in the middle of text.
          // end card
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src='img/covers/cover6.jpg' alt='')
                    a.card__play(href='#')
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href='#') Benched
                    span.card__category
                      a(href='#') Comedy
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | 7.1
                      ul.card__list
                        li HD
                        li 16+
                    .card__description
                      p
                        | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          // end card
      #tab-2.tab-pane.fade(role='tabpanel' aria-labelledby='2-tab')
        .row
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover5.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover6.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover6.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover5.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
      #tab-3.tab-pane.fade(role='tabpanel' aria-labelledby='3-tab')
        .row
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover6.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover5.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover5.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover6.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
      #tab-4.tab-pane.fade(role='tabpanel' aria-labelledby='4-tab')
        .row
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover6.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover5.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover6.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover5.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover4.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') I Dream in Another Language
                span.card__category
                  a(href='#') Action
                  a(href='#') Triler
                span.card__rate
                  i.icon.ion-ios-star
                  | 8.4
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover3.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Benched
                span.card__category
                  a(href='#') Comedy
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.1
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover2.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Whitney
                span.card__category
                  a(href='#') Romance
                  a(href='#') Drama
                  a(href='#') Music
                span.card__rate
                  i.icon.ion-ios-star
                  | 6.3
          // end card
          // card
          .col-6.col-sm-4.col-lg-3.col-xl-2
            .card
              .card__cover
                img(src='img/covers/cover.jpg' alt='')
                a.card__play(href='#')
                  i.icon.ion-ios-play
              .card__content
                h3.card__title
                  a(href='#') Blindspotting
                span.card__category
                  a(href='#') Comedy
                  a(href='#') Drama
                span.card__rate
                  i.icon.ion-ios-star
                  | 7.9
          // end card
    // end content tabs
// end content
// expected premiere
section.section.section--bg(data-bg='img/section/section.jpg')
  .container
    .row
      // section title
      .col-12
        h2.section__title Expected premiere
      // end section title
      // card
      .col-6.col-sm-4.col-lg-3.col-xl-2
        .card
          .card__cover
            img(src='img/covers/cover.jpg' alt='')
            a.card__play(href='#')
              i.icon.ion-ios-play
          .card__content
            h3.card__title
              a(href='#') I Dream in Another Language
            span.card__category
              a(href='#') Action
              a(href='#') Triler
            span.card__rate
              i.icon.ion-ios-star
              | 8.4
      // end card
      // card
      .col-6.col-sm-4.col-lg-3.col-xl-2
        .card
          .card__cover
            img(src='img/covers/cover3.jpg' alt='')
            a.card__play(href='#')
              i.icon.ion-ios-play
          .card__content
            h3.card__title
              a(href='#') Benched
            span.card__category
              a(href='#') Comedy
            span.card__rate
              i.icon.ion-ios-star
              | 7.1
      // end card
      // card
      .col-6.col-sm-4.col-lg-3.col-xl-2
        .card
          .card__cover
            img(src='img/covers/cover2.jpg' alt='')
            a.card__play(href='#')
              i.icon.ion-ios-play
          .card__content
            h3.card__title
              a(href='#') Whitney
            span.card__category
              a(href='#') Romance
              a(href='#') Drama
              a(href='#') Music
            span.card__rate
              i.icon.ion-ios-star
              | 6.3
      // end card
      // card
      .col-6.col-sm-4.col-lg-3.col-xl-2
        .card
          .card__cover
            img(src='img/covers/cover6.jpg' alt='')
            a.card__play(href='#')
              i.icon.ion-ios-play
          .card__content
            h3.card__title
              a(href='#') Blindspotting
            span.card__category
              a(href='#') Comedy
              a(href='#') Drama
            span.card__rate
              i.icon.ion-ios-star
              | 7.9
      // end card
      // card
      .col-6.col-sm-4.col-lg-3.col-xl-2
        .card
          .card__cover
            img(src='img/covers/cover4.jpg' alt='')
            a.card__play(href='#')
              i.icon.ion-ios-play
          .card__content
            h3.card__title
              a(href='#') I Dream in Another Language
            span.card__category
              a(href='#') Action
              a(href='#') Triler
            span.card__rate
              i.icon.ion-ios-star
              | 8.4
      // end card
      // card
      .col-6.col-sm-4.col-lg-3.col-xl-2
        .card
          .card__cover
            img(src='img/covers/cover5.jpg' alt='')
            a.card__play(href='#')
              i.icon.ion-ios-play
          .card__content
            h3.card__title
              a(href='#') Benched
            span.card__category
              a(href='#') Comedy
            span.card__rate
              i.icon.ion-ios-star
              | 7.1
      // end card
      // section btn
      .col-12
        a.section__btn(href='#') Show more
      // end section btn
// end expected premiere
// partners
section.section
  .container
    .row
      // section title
      .col-12
        h2.section__title.section__title--no-margin Our Partners
      // end section title
      // section text
      .col-12
        p.section__text.section__text--last-with-margin
          | It is a long 
          b established
          |  fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.
      // end section text
      // partner
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.partner(href='#')
          img.partner__img(src='img/partners/themeforest-light-background.png' alt='')
      // end partner
      // partner
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.partner(href='#')
          img.partner__img(src='img/partners/audiojungle-light-background.png' alt='')
      // end partner
      // partner
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.partner(href='#')
          img.partner__img(src='img/partners/codecanyon-light-background.png' alt='')
      // end partner
      // partner
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.partner(href='#')
          img.partner__img(src='img/partners/photodune-light-background.png' alt='')
      // end partner
      // partner
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.partner(href='#')
          img.partner__img(src='img/partners/activeden-light-background.png' alt='')
      // end partner
      // partner
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.partner(href='#')
          img.partner__img(src='img/partners/3docean-light-background.png' alt='')
      // end partner
// end partners
// footer
footer.footer
  .container
    .row
      // footer list
      .col-12.col-md-3
        h6.footer__title Download Our App
        ul.footer__app
          li
            a(href='#')
              img(src='img/Download_on_the_App_Store_Badge.svg' alt='')
          li
            a(href='#')
              img(src='img/google-play-badge.png' alt='')
      // end footer list
      // footer list
      .col-6.col-sm-4.col-md-3
        h6.footer__title Resources
        ul.footer__list
          li
            a(href='#') About Us
          li
            a(href='#') Pricing Plan
          li
            a(href='#') Help
      // end footer list
      // footer list
      .col-6.col-sm-4.col-md-3
        h6.footer__title Legal
        ul.footer__list
          li
            a(href='#') Terms of Use
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Security
      // end footer list
      // footer list
      .col-12.col-sm-4.col-md-3
        h6.footer__title Contact
        ul.footer__list
          li
            a(href='tel:+18002345678') +1 (800) 234-5678
          li
            a(href='mailto:support@moviego.com') support@flixgo.com
        ul.footer__social
          li.facebook
            a(href='#')
              i.icon.ion-logo-facebook
          li.instagram
            a(href='#')
              i.icon.ion-logo-instagram
          li.twitter
            a(href='#')
              i.icon.ion-logo-twitter
          li.vk
            a(href='#')
              i.icon.ion-logo-vk
      // end footer list
      // footer copyright
      .col-12
        .footer__copyright
          small
            a(target='_blank' href='https://www.templateshub.net') Templates Hub
          ul
            li
              a(href='#') Terms of Use
            li
              a(href='#') Privacy Policy
      // end footer copyright
// end footer
// JS
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.mousewheel.min.js')
script(src='js/jquery.mCustomScrollbar.min.js')
script(src='js/wNumb.js')
script(src='js/nouislider.min.js')
script(src='js/plyr.min.js')
script(src='js/jquery.morelines.min.js')
script(src='js/photoswipe.min.js')
script(src='js/photoswipe-ui-default.min.js')
script(src='js/main.js')
